<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>create</h1>
    <form action="/newpost" method="POST">

        <div>

            <label for="imageURL">image url:</label>
            <input type="text" name="imageURL"><br><br>
        </div>

        <div>

            <label for="title">title:</label>
            <input type="text" name="title"><br><br>
        </div>

        <div>

            <label for="description">description:</label>
            <input type="text" name="description"><br><br>

        </div>

        <div>
            <label for="vip">vip:</label>
            <input type="text" name="vip"><br><br>

        </div>

        <div>


            <label for="likes">likes:</label>
            <input type="number" name="likes"><br><br>
        </div>


        <input type="submit" value="Submit">



    </form>
</body>

</html>